@charset "UTF-8";

body {
	position: fixed;
	top: 0px;
	left: 0px;
}

#loginDiv {
	position: relative;
	background-color: #9f90ff;
	top: 0px;
	left: 0px;
	padding: 20px;
	width: 300px;
	height: 300px;
	border-width: 10px;
	border-color: #000000;
	cursor: default;
}

#loginLabelDiv {
	position: relative;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 300px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

#loginInformationDiv {
	position: relative;
	top: 10px;
	left: 0px;
	height: 20px;
	width: 300px;
	color: #ff0000;
	height: 25px;
	text-align: center;
	line-height: 25px;
	line-height: 25px;
}

.inputDiv {
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 20px;
	width: 300px;
	height: 25px;
}

.labelCommon {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	line-height: 25px;
}

.inputText {
	position: absolute;
	left: 100px;
	top: 0px;
	height: 19px;
	width: 196px;
}

#loginBtnDiv {
	position: relative;
	left: 0px;
	top: 50px;
	height: 35px;
	width: 300px;
}

.btnDiv {
	background-color: #7f70ff;
}

.btnDivMouseenter {
	background-color: #ffff00;
}

.btnDivMouseleave {
	background-color: #7f70ff;
}

#confirmBtnDiv {
	position: absolute;
	top: 0px;
	left: 40px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

#cancelBtnDiv {
	position: absolute;
	top: 0px;
	left: 170px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}